/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800); 

// Custome styles
.social-media-list {
    img{
        width: 25px;
        margin-top: 7px;
    }
}

.home .hero-unit{
    background-image: url(../img/banner-photo.jpg);
}

.about .hero-unit{
    background-image: url(../img/about-photo.jpg);
}

.hero-unit {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: left;
    color: white;
    padding-top: 110px;
    font-family: "Open Sans", sans-serif;
    line-height: 60px;

    h1 {
        text-shadow: 1px 1px 2px #000;
        position: absolute;
        bottom: 0px;
    }
    .wrapper {
        position: relative;
        height: 100%;        
    }
}

h1 {
    font-size: 50px;
}
@font-face{
    font-family: 'BaskervilleBold';
    src: url('../css/fonts/Baskerville-Bold.eot');
    src: url('../css/fonts/Baskerville-Bold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Baskerville-Bold.woff') format('woff'), url('../css/fonts/Baskerville-Bold.ttf') format('truetype'), url('../css/fonts/Baskerville-Bold.svg#baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BaskervilleSemiBold';
    src: url('../css/fonts/Baskerville-SemiBold.eot');
    src: url('../css/fonts/Baskerville-SemiBold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Baskerville-SemiBold.woff') format('woff'), url('../css/fonts/Baskerville-SemiBold.ttf') format('truetype'), url('../css/fonts/Baskerville-SemiBold.svg#baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BaskervilleItalic';
    src: url('../css/fonts/Baskerville-Italic.eot');
    src: url('../css/fonts/Baskerville-Italic.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Baskerville-Italic.woff') format('woff'), url('../css/fonts/Baskerville-Italic.ttf') format('truetype'), url('../css/fonts/Baskerville-Italic.svg#baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Baskerville';
    src: url('../css/fonts/Baskerville.eot');
    src: url('../css/fonts/Baskerville.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Baskerville.woff') format('woff'), url('../css/fonts/Baskerville.ttf') format('truetype'), url('../css/fonts/Baskerville.svg#baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}
#intro {
    padding-top: 20px;
    img {
        float: left;
        width: 45%;
        padding-right: 2%;
    }
    #intro-text{
        border-left: 1px solid #999;
        float: left;
        width: 50%;
        padding-left: 2%;
    }
    section {
        margin: 10px 0px 40px 0px;
    }
}

.home .page-content {
    padding: 0px 0px $spacing-unit 0px;
}

h2 {
    font-weight: 600;
}

ul.social-media-list {
    li {
        display: inline;
    }
}